<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>cc.tweak.prowidgets.widget.browser</string>
	<key>NSPrincipalClass</key>
	<string>PWWidgetBrowser</string>
	<key>PWInfoType</key>
	<string>widget</string>
	<key>PWInfoDisplayName</key>
	<string>Browser</string>
	<key>PWInfoAuthor</key>
	<string>ProWidgets</string>
	<key>PWInfoShortDescription</key>
	<string>Open web links in app conveniently</string>
	<key>PWInfoDescription</key>
	<string>Browser widget provides a simple interface to browse URLs or bookmarks, and add new bookmarks everywhere. You could also open web links from apps, like Mail and WhatsApp.

Tap on navigation bar once to switch between browser and bookmark interfaces.

Configure the default browser (Safari or Chrome) and other settings in the widget preference page.</string>
	<key>PWInfoIconFile</key>
	<string>icon.png</string>
	<key>PWInfoPreferenceDefaults</key>
	<string>cc.tweak.prowidgets.widget.browser</string>
	<key>PWInfoPreferenceFile</key>
	<string>Preference</string>
</dict>
</plist>
