<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>cc.tweak.prowidgets.widget.browser</string>
	<key>NSPrincipalClass</key>
	<string>PWWidgetBrowser</string>
	<key>PWInfoType</key>
	<string>widget</string>
	<key>PWInfoDisplayName</key>
	<string>Browser</string>
	<key>PWInfoAuthor</key>
	<string>Alan Yip</string>
	<key>PWInfoDescription</key>
	<string>Open web links in app conveniently</string>
	<key>PWInfoIconFile</key>
	<string>icon.png</string>
</dict>
</plist>
