<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>StatusHUD 2</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>cc.tweak.statushud</string>
			<key>PostNotification</key>
			<string>cc.tweak.statushud.preferencechanged</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>default</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>cc.tweak.statushud</string>
			<key>PostNotification</key>
			<string>cc.tweak.statushud.preferencechanged</string>
			<key>key</key>
			<string>style</string>
			<key>label</key>
			<string>Style</string>
			<key>default</key>
			<integer>2</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validTitles</key>
			<array>
				<string>Square</string>
				<string>Circle</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>cc.tweak.statushud</string>
			<key>PostNotification</key>
			<string>cc.tweak.statushud.preferencechanged</string>
			<key>key</key>
			<string>size</string>
			<key>label</key>
			<string>Size</string>
			<key>default</key>
			<integer>1</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validTitles</key>
			<array>
				<string>Normal</string>
				<string>Larger</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>cc.tweak.statushud</string>
			<key>PostNotification</key>
			<string>cc.tweak.statushud.preferencechanged</string>
			<key>key</key>
			<string>delay</string>
			<key>label</key>
			<string>Dismiss Delay</string>
			<key>default</key>
			<real>1.0</real>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validTitles</key>
			<array>
				<string>Very Slow</string>
				<string>Slow</string>
				<string>Normal</string>
				<string>Fast</string>
			</array>
			<key>validValues</key>
			<array>
				<real>2.0</real>
				<real>1.5</real>
				<real>1.0</real>
				<real>0.5</real>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Copyright © 2013-2014 Alan Yip</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>donate</string>
			<key>label</key>
			<string>Donate</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>openWebsite</string>
			<key>label</key>
			<string>More by Alan Yip</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>tweet</string>
			<key>label</key>
			<string>Tweet</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>openTwitter</string>
			<key>label</key>
			<string>Follow @tweakcc</string>
		</dict>
	</array>
</dict>
</plist>