<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Configuration</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>cc.tweak.prowidgets</string>
			<key>PostNotification</key>
			<string>cc.tweak.prowidgets.preferencechanged</string>
			<key>key</key>
			<string>lockAction</string>
			<key>label</key>
			<string>LockAction</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validTitles</key>
			<array>
				<string>MinimizeAllWidgets</string>
				<string>DismissAllWidgets</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>cc.tweak.prowidgets</string>
			<key>PostNotification</key>
			<string>cc.tweak.prowidgets.preferencechanged</string>
			<key>key</key>
			<string>miniViewScale</string>
			<key>label</key>
			<string>MinimizationViewSize</string>
			<key>default</key>
			<real>0.3</real>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validTitles</key>
			<array>
				<string>Small</string>
				<string>Normal</string>
				<string>Big</string>
				<string>Large</string>
			</array>
			<key>validValues</key>
			<array>
				<real>0.2</real>
				<real>0.3</real>
				<real>0.4</real>
				<real>0.5</real>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Effect</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>cc.tweak.prowidgets</string>
			<key>PostNotification</key>
			<string>cc.tweak.prowidgets.preferencechanged</string>
			<key>key</key>
			<string>presentationStyle</string>
			<key>label</key>
			<string>PresentationStyle</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validTitles</key>
			<array>
				<string>Zoom</string>
				<string>Fade</string>
				<string>SlideUp</string>
				<string>SlideDown</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>cc.tweak.prowidgets</string>
			<key>PostNotification</key>
			<string>cc.tweak.prowidgets.preferencechanged</string>
			<key>key</key>
			<string>enabledParallax</string>
			<key>label</key>
			<string>ParallaxEffect</string>
			<key>default</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>cc.tweak.prowidgets</string>
			<key>PostNotification</key>
			<string>cc.tweak.prowidgets.preferencechanged</string>
			<key>key</key>
			<string>disabledBlur</string>
			<key>label</key>
			<string>DisableBlurEffect</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>cc.tweak.prowidgets</string>
			<key>PostNotification</key>
			<string>cc.tweak.prowidgets.preferencechanged</string>
			<key>key</key>
			<string>disabledMask</string>
			<key>label</key>
			<string>BetterBlurQuality</string>
			<key>default</key>
			<false/>
			<key>negate</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>GlobalPreference</string>
			<key>footerText</key>
			<string>GlobalPreferenceFooterText</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>cc.tweak.prowidgets</string>
			<key>PostNotification</key>
			<string>cc.tweak.prowidgets.preferencechanged</string>
			<key>key</key>
			<string>preferredSource</string>
			<key>label</key>
			<string>PreferredSource</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validTitles</key>
			<array>
				<string>iCloud</string>
				<string>Local</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>ExperimentalSettingsFooterText</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>ExperimentalSettings</string>
			<key>action</key>
			<string>showExperimentalSettings</string>
			<key>detail</key>
			<string>PWPrefExperimentalSettings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>ShowWelcomeScreenFooterText</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>ShowWelcomeScreen</string>
			<key>action</key>
			<string>showWelcomeScreen</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>ResetCoreSettingsFooterText</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>ResetCoreSettings</string>
			<key>action</key>
			<string>resetPreference</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>RespringFooterText</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>action</key>
			<string>respring</string>
		</dict>
	</array>
</dict>
</plist>