<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>cc.tweak.prowidgets.widget.reminders</string>
	<key>NSPrincipalClass</key>
	<string>PWWidgetReminders</string>
	<key>PWInfoType</key>
	<string>widget</string>
	<key>PWInfoDisplayName</key>
	<string>Reminders</string>
	<key>PWInfoAuthor</key>
	<string>ProWidgets</string>
	<key>PWInfoShortDescription</key>
	<string>Manage and add reminders</string>
	<key>PWInfoDescription</key>
	<string>Reminders widget allows you to quickly add a new reminder, view the previous reminders and mark them as complete.

Tap on navigation bar once to switch between add and list interfaces.

Configure the default interface in the widget preference page.</string>
	<key>PWInfoPreferenceDefaults</key>
	<string>cc.tweak.prowidgets.widget.reminders</string>
	<key>PWInfoPreferenceFile</key>
	<string>Preference</string>
</dict>
</plist>