<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>cc.tweak.prowidgets.widget.reminders</string>
	<key>NSPrincipalClass</key>
	<string>PWWidgetReminders</string>
	<key>PWInfoType</key>
	<string>widget</string>
	<key>PWInfoDisplayName</key>
	<string>Reminders</string>
	<key>PWInfoAuthor</key>
	<string>Alan Yip</string>
	<key>PWInfoDescription</key>
	<string>Manage and add reminders</string>
	<key>PWInfoPreferenceDefaults</key>
	<string>cc.tweak.prowidgets.widget.reminders</string>
	<key>PWInfoPreferenceFile</key>
	<string>Preference</string>
</dict>
</plist>
