<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Reminders</string>
	<key>layout</key>
	<string>PWWidgetLayoutCustom</string>
	<key>preferredTintColor</key>
	<string>#FF5200</string>
	<key>preferredBarTextColor</key>
	<string>white</string>
</dict>
</plist>