<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>cc.tweak.prowidgets.widget.jstest</string>
	<key>PWInfoType</key>
	<string>widget</string>
	<key>PWInfoDisplayName</key>
	<string>JSTest</string>
	<key>PWInfoAuthor</key>
	<string>ProWidgets</string>
	<key>PWInfoShortDescription</key>
	<string>Test case for widgets written in JavaScript</string>
	<key>PWInfoDescription</key>
	<string>Test case for widgets written in JavaScript</string>
	<key>PWInfoPreferenceDefaults</key>
	<string>cc.tweak.prowidgets.widget.jstest</string>
	<key>PWInfoPreferenceFile</key>
	<string>Preference</string>
</dict>
</plist>