<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionButtonText</key>
	<string>Add</string>
	<key>shouldAutoConfigureStandardButtons</key>
	<true/>
	<key>items</key>
	<array>
		<dict>
			<key>key</key>
			<string>title</string>
			<key>title</key>
			<string>Title</string>
			<key>type</key>
			<string>textField</string>
		</dict>
		<dict>
			<key>key</key>
			<string>location</string>
			<key>title</key>
			<string>Location</string>
			<key>type</key>
			<string>textField</string>
		</dict>
		<dict>
			<key>key</key>
			<string>starts</string>
			<key>title</key>
			<string>Starts</string>
			<key>type</key>
			<string>datevalue</string>
			<key>dateMode</key>
			<string>datetime</string>
			<key>dateMinuteInterval</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>ends</string>
			<key>title</key>
			<string>Ends</string>
			<key>type</key>
			<string>datevalue</string>
			<key>dateMode</key>
			<string>datetime</string>
			<key>dateMinuteInterval</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>moreButton</string>
			<key>title</key>
			<string>More</string>
			<key>type</key>
			<string>button</string>
			<key>actionEventName</key>
			<string>PWWidgetCalendarShowMoreSettings</string>
		</dict>
		<dict>
			<key>key</key>
			<string>allDay</string>
			<key>title</key>
			<string>All-day</string>
			<key>type</key>
			<string>switch</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>key</key>
			<string>repeat</string>
			<key>title</key>
			<string>Repeat</string>
			<key>type</key>
			<string>listvalue</string>
			<key>default</key>
			<integer>0</integer>
			<key>listItemTitles</key>
			<array>
				<string>Never</string>
				<string>Every Day</string>
				<string>Every Week</string>
				<string>Every 2 Weeks</string>
				<string>Every Month</string>
				<string>Every Year</string>
			</array>
			<key>listItemValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
		</dict>
		<dict>
			<key>key</key>
			<string>alerts</string>
			<key>title</key>
			<string>Alerts</string>
			<key>type</key>
			<string>listvalue</string>
			<key>listNoneIndex</key>
			<integer>0</integer>
			<key>listMaxSelection</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>calendar</string>
			<key>title</key>
			<string>Calendar</string>
			<key>type</key>
			<string>PWWidgetCalendarItemListValue</string>
		</dict>
	</array>
</dict>
</plist>