<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>cc.tweak.prowidgets.theme.grey</string>
	<key>PWInfoType</key>
	<string>theme</string>
	<key>PWInfoDisplayName</key>
	<string>Grey</string>
	<key>PWInfoAuthor</key>
	<string>ProWidgets</string>
	<key>PWInfoDescription</key>
	<string>Simple grey theme for ProWidgets.</string>
	<key>PWInfoIconFile</key>
	<string>icon.png</string>
</dict>
</plist>