<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>cc.tweak.prowidgets.widget.googleauthenticator</string>
	<key>NSPrincipalClass</key>
	<string>PWWidgetGoogleAuthenticator</string>
	<key>PWInfoType</key>
	<string>widget</string>
	<key>PWInfoDisplayName</key>
	<string>Google Authenticator</string>
	<key>PWInfoAuthor</key>
	<string>Alan Yip</string>
	<key>PWInfoDescription</key>
	<string>Generate 2-Step Verification Code for your Google Account</string>
</dict>
</plist>
