Package: cc.tweak.prowidgets
Name: ProWidgets
Depends: firmware (>= 7.0), unzip, preferenceloader, cc.tweak.libobjcipc
Version: 1.1.0
Architecture: iphoneos-arm
Description: 
Maintainer: Alan Yip
Author: Alan Yip
Section: 