<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Calendar</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>cc.tweak.prowidgets.widget.calendar</string>
			<key>key</key>
			<string>defaultInterface</string>
			<key>label</key>
			<string>Default Interface</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validTitles</key>
			<array>
				<string>Add</string>
				<string>List</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>List</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>cc.tweak.prowidgets.widget.calendar</string>
			<key>key</key>
			<string>period</string>
			<key>label</key>
			<string>Upcoming Event Period</string>
			<key>default</key>
			<integer>7</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validTitles</key>
			<array>
				<string>1 week</string>
				<string>2 weeks</string>
				<string>1 month</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>7</integer>
				<integer>14</integer>
				<integer>30</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Integration</string>
			<key>footerText</key>
			<string>Open calendar widget when pressing "Create Event"</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>cc.tweak.prowidgets.widget.calendar</string>
			<key>PostNotification</key>
			<string>cc.tweak.prowidgets.widget.calendar.preferencechanged</string>
			<key>key</key>
			<string>enabledOpenFromCreateEvent</string>
			<key>label</key>
			<string>Create Event</string>
			<key>default</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>